<section id="olvido">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
                <mdb-card class=" blue-grey lighten-5">
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title class="text-center">
                            <h5>¿Tienes problemas para iniciar sesión?</h5>
                        </mdb-card-title>
                        
                        <!--Text-->
                        <mdb-card-text>
                            <!-- Default form register -->
                            <br>
                            <p class="text-center">Ingresa tu correo electrónico y te enviaremos un enlace para recuperar el acceso a tu cuenta.</p>
                            <form class="text-center mt-4"  [formGroup]="resetPasswordForm">
                                
    
                                <!-- E-mail -->
                                <div class="md-form">
                                    <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="email">
                                    <label for="email">E-mail</label>
                                    <!-- Campo de validaciones-->
                                    <div *ngIf="resetPasswordForm.get('email').invalid && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
                                        <mdb-error *ngIf="resetPasswordForm.get('email').errors.required">Campo obligatorio</mdb-error>
                                        <mdb-error *ngIf="resetPasswordForm.get('email').errors.email">Debe ser un correo valido</mdb-error>
                                    </div>
                                </div>
    
                                <!-- Sign up button -->
                                <button mdbBtn color="info" block="true" class="my-4" [disabled]="resetPasswordForm.invalid" (click)="onResetPassword()">
                                    Enviar enlace
                                </button>
                                <p><a routerLink="/users/login">Volver a inicio de sesion</a> </p>
                                <p><a routerLink="/users/register">Crear Cuenta</a></p>
    
                            </form>
                            <!-- Default form register -->
                        </mdb-card-text>
    
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
    
</section>
