#home{
    background: url('/assets/fondo1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
} 
#home h1{
    font-size: 4rem;
    font-weight: 600;
}
p{
    font-size: 1.2rem;
}

@media (max-width: 992px) {
    #home h1{
        font-size: 2.1rem;
        font-weight: 600;
    }
    p{
        font-size: 1rem;
    }
    
}
@media (max-width: 360px) {
    #home h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    p{
        font-size: 1rem;
    }
    .botones{
        display: flex;
        flex-direction: column;
    }
    
}
