<section id="login">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="pacman"
    >
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
                <mdb-card class=" blue-grey lighten-5">
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Inicio de Sesión</h4>
                        </mdb-card-title>
                        <hr>
                        <!--Text-->
                        <mdb-card-text>
                            <!-- Default form register -->
                            <form class="text-center mt-4"  [formGroup]="loginForm">
                                
    
                                <!-- E-mail -->
                                <div class="md-form">
                                    <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="email">
                                    <label for="email">E-mail</label>
                                    <!-- Campo de validaciones-->
                                    <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                        <mdb-error *ngIf="loginForm.get('email').errors.required">Campo obligatorio</mdb-error>
                                        <mdb-error *ngIf="loginForm.get('email').errors.email">Debe ser un correo valido</mdb-error>
                                    </div>
                                </div>
                                
    
                                <!-- Password -->
                                
                                <div class="md-form">
                                    <input mdbInput mdbValidate type="password" id="password" class="form-control" formControlName="password">
                                    <label for="password">Password</label>
                                    <!-- Campo de validaciones-->
                                    <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                        <mdb-error *ngIf="loginForm.get('password').errors.required">Campo obligatorio</mdb-error>
                                        <mdb-error *ngIf="loginForm.get('password').errors.minlength">La contraseña debe tener al menos 6 caracteres</mdb-error>
                                    </div>
                                </div>
    
                                <!-- Sign up button -->
                                <button mdbBtn color="info" block="true" class="my-4" [disabled]="loginForm.invalid" (click)="onLogin()">
                                    Iniciar
                                </button>
                                <p><a routerLink="/users/reset">¿Has olvidado la contraseña?</a> </p>
    
                                <!-- Social register -->
                                <p>o inicia con:</p>
    
                                <a type="button" class="blue-text mx-2 social-buttons" (click)="onFacebookLogin()">
                                    <mdb-icon fab icon="facebook"></mdb-icon>
                                </a>
                                <a type="button" class="deep-orange-text mx-2 social-buttons" (click)="onGoogleLogin()">
                                    <mdb-icon fab icon="google"></mdb-icon>
                                </a>
    
                                
                            </form>
                            <!-- Default form register -->
                        </mdb-card-text>
    
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
    
</section>