<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
                <mdb-card>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Inicio de Sesión</h4>
                        </mdb-card-title>
                        <hr>
                        <!--Text-->
                        <mdb-card-text>
                            <!-- Default form register -->
                            <form class="text-center mt-4">
                                
    
                                <!-- E-mail -->
                                <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4"
                                    placeholder="E-mail" />
    
                                <!-- Password -->
                                <input type="password" id="defaultRegisterFormPassword" class="form-control"
                                    placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" />
                                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                    At least 8 characters and 1 digit
                                </small>
    
                                <!-- Sign up button -->
                                <button mdbBtn color="info" block="true" class="my-4" type="submit">
                                    Iniciar
                                </button>
    
                                <!-- Social register -->
                                <p>o inicia con:</p>
    
                                <a type="button" class="blue-text mx-2">
                                    <mdb-icon fab icon="facebook"></mdb-icon>
                                </a>
                                <a type="button" class="deep-orange-text mx-2">
                                    <mdb-icon fab icon="google"></mdb-icon>
                                </a>
    
                                
                            </form>
                            <!-- Default form register -->
                        </mdb-card-text>
    
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
    
</section>