<section id="nuevo">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
        <p style="font-size: 20px; color: white">Subiendo imagen {{uploadPercent}}%</p>
    </ngx-spinner>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-10 mx-auto">
                <mdb-card class=" blue-grey lighten-5 mb-3">
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Nuevo Contacto</h4>
                        </mdb-card-title>
                        <hr />
                        <!--Text-->
                        <mdb-card-text>
                            <!-- Default form register -->
                            <form class="text-center" [formGroup]="nuevoContactoForm">
                                
                                <div class="md-form">
                                    <!-- First name -->
                                    <div class="md-form">
                                        <input mdbInput mdbValidate type="text" id="nombres" class="form-control"
                                            formControlName="nombres" />
                                        <label for="nombres">Nombres</label>
                                        <!-- Campo de validaciones-->
                                        <div *ngIf="
                                            nuevoContactoForm.get('nombres').invalid &&
                                            (nuevoContactoForm.get('nombres').dirty ||
                                            nuevoContactoForm.get('nombres').touched)
                                        ">
                                            <mdb-error *ngIf="nuevoContactoForm.get('nombres').errors.required">
                                                Campo obligatorio</mdb-error>
                                        </div>
                                    </div>

                                    <!-- Last name -->
                                    <div class="md-form">
                                        <input mdbInput mdbValidate type="text" id="apellidos" class="form-control"
                                            formControlName="apellidos" />
                                        <label for="apellidos">Apellidos</label>
                                        <!-- Campo de validaciones-->
                                        <div *ngIf="
                                            nuevoContactoForm.get('apellidos').invalid &&
                                            (nuevoContactoForm.get('apellidos').dirty ||
                                            nuevoContactoForm.get('apellidos').touched)
                                        ">
                                            <mdb-error *ngIf="
                                                nuevoContactoForm.get('apellidos').errors.required
                                            ">
                                                Campo obligatorio</mdb-error>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col">
                                      <!-- Telefono -->
                                      <div class="md-form">
                                        <input
                                          mdbInput
                                          mdbValidate
                                          type="number"
                                          id="telefono"
                                          class="form-control"
                                          formControlName="telefono"
                                        />
                                        <label for="telefono">Telefono</label>
                                        <!-- Campo de validaciones-->
                                        <div
                                          *ngIf="
                                          nuevoContactoForm.get('telefono').invalid &&
                                            (nuevoContactoForm.get('telefono').dirty ||
                                            nuevoContactoForm.get('telefono').touched)
                                          "
                                        >
                                          <mdb-error
                                            *ngIf="nuevoContactoForm.get('telefono').errors.required"
                                            >Campo obligatorio</mdb-error
                                          >
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col">
                                        <!-- Tipo contacto -->
                                        <div class="md-form">
                                            <select id="tipo_contacto" class="browser-default custom-select" formControlName="tipo_contacto">
                                                <option selected value="Movil">Movil</option>
                                                <option value="Casa">Casa</option>
                                                <option value="Trabajo">Trabajo</option>
                                            </select>
                                          
                                        </div>
                                      </div>
                                    
                                  </div>
                                  <!-- Email-->
                                  <div class="md-form">
                                    <input
                                      mdbInput
                                      mdbValidate
                                      type="text"
                                      id="email"
                                      class="form-control"
                                      formControlName="email"
                                    />
                                    <label for="email">Email</label>
                                    <!-- Campo de validaciones-->
                                    <div
                                      *ngIf="
                                        nuevoContactoForm.get('email').invalid &&
                                        (nuevoContactoForm.get('email').dirty ||
                                          nuevoContactoForm.get('email').touched)
                                      "
                                    >
                                    <mdb-error *ngIf="nuevoContactoForm.get('email').errors.email">Debe ser un
                                        correo valido</mdb-error>
                                    </div>
                                  </div>
                                <!-- Descripcion del contacto -->
                                <div class="md-form">
                                    <textarea type="text" id="descripcion" class="md-textarea form-control" mdbInput formControlName="descripcion"></textarea>
                                    <label for="descripcion">Descripcion de contacto</label>
                                    
                                </div>
                                <!--Foto de contacto-->
                                <div class="md-form d-flex justify-content-center" *ngIf="edit && contacto.foto">
                                    <div class="col-4">
                                        <img src="{{contacto.foto}}" class="img-fluid" alt="Responsive image">
                                    </div>
                                </div>
                                <label *ngIf="!edit">Seleccione foto de contacto</label>
                                <label *ngIf="edit">Cambiar foto de contacto</label>
                                <div class="md-form" >
                                    <input type="file" class="form-control-file" accept=".png, .jpg, .jpeg" (change)="preUpload($event)">
                                    
                                </div>

                                <!-- Sign up button -->
                                <button mdbBtn color="info" block="true" class="my-4"
                                    [disabled]="nuevoContactoForm.invalid" (click)="edit ? onUpdate(): onNuevo()">
                                    Guardar Contacto
                                </button>
                                <button mdbBtn color="warning" block="true" class="my-4" *ngIf="edit" routerLink="/contactos">
                                    Cancelar
                                </button>
                                
                            </form>
                            <!-- Default form register -->
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</section>